@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #fffff0;
}

.buttonTB {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica, 'sans-serif';
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #30df36;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.buttonTB:hover {
  background: #30df36;
}

.buttonTB > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.buttonTB:hover svg {
  transform: translateX(5px);
}

.buttonTB:active {
  transform: scale(0.95);
}
