@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #e5e4e4;
}

.buttonTB {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica, "sans-serif";
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #4ede53;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.buttonTB:hover {
  background: #30df36;
}

.buttonTB > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.buttonTB:hover svg {
  transform: translateX(5px);
}

.buttonTB:active {
  transform: scale(0.95);
}

/*
Card
**/
.card {
  width: 400px;
  height: 254px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#b0e633, #53ef7d);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}

.gridChoices {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-gap: 1rem;
  place-content: center;
}

.card {
  margin-left: 20px;
  margin-top: 20px;
  font-family: "Candara", sans-serif;
  width: 220px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.card-image img {
  width: 100%;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.profile-image img {
  z-index: 1;
  width: 120px;
  height: 120px;
  position: relative;
  margin-top: -75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  border: 6px solid white;
}

.card-content h3 {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.card-content p {
  font-size: 14px;
  text-align: center;
  padding: 0px 20px 10px 20px;
}

.icon {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 30px;
}

.icon a {
  text-decoration: none;
  font-size: 40px;
  padding: 0 15px;
  transition-duration: 0.4s;
  transition-property: transform;
}

.icon a:hover {
  color: #d95d39;
  transform: scale(1.15);
}
